.comic-grid {
    /*padding: 0 25px 0 25px;*/
}

.logo {
    fill: #ffffff;
    width: 70%;
}

.columns.tight {
    padding-left: .5rem;
    padding-right: .5rem;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
