md-card>:not(md-card-content) img,
md-card>img {
    box-sizing: border-box;
}

md-card .md-card-image {
    display: block;
    width: 100%;
    height: 461px;
    object-fit: cover;
    object-position: left;
}

.comic-card {
    width: 300px;
}

.card-title {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   padding: 5px 0 0 7px;
   font-size: 1.2em;
   line-height: 1.2em;     /* fallback */
   max-height: 32px;      /* fallback */
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.pull-list-toggle {
    align-self: flex-end;
}
