@import "settings";
@import "foundation";

$font-color: #E3DFBA;
$date-picker-background-color: #333;

@mixin truncateText($overflow: ellipsis) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: $overflow;

    // values are: clip, ellipsis, or a string
}

@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    fill: $font-color;
    margin-top: 0.5rem;
    width: 210px;
}

.top-bar .toggle-topbar.menu-icon a {
    padding: 0 0.9375rem 0 0.9375rem;
}

.row {
    max-width: 1280px;
}

/* Date Picker Styling */
.pika-single.dark-theme {
    color: #fff;
    background: $date-picker-background-color;
    border: 1px solid #666;
    border-bottom-color: #999;
}

.dark-theme .pika-label {
    background-color: $date-picker-background-color;
}

.dark-theme .pika-prev,
.dark-theme .is-rtl .pika-next {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAQAAACGG/bgAAAAQ0lEQVR4Ae3KIQ4AIBTD0N0/IeHGI3UIRA3ut/Zl+ltXc5++htVAmIAwAWECwgSEKbgthEoIlRAqIVRCqINQB9nDgQd7ktwFo6UpWQAAAABJRU5ErkJggg==");
}

.dark-theme .pika-next,
.dark-theme .is-rtl .pika-prev {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAQAAACGG/bgAAAAP0lEQVQ4y+3TMQoAMAgEwfwfAvvjTZ1uGzuvHhBPPGczEG+FRqqRaqQaqUaqkX6QBmmjacvQ6qEVTjsh+xizebvlaWptGXZAAAAAAElFTkSuQmCC");
}

.dark-theme .pika-table th {
    color: #999;
}

.dark-theme .pika-button {
    color: #fff;
    background: #222;
}

.dark-theme .pika-week {
    color: #999;
}

.dark-theme .is-today .pika-button {
    color: #33aaff;
}

.dark-theme .is-selected .pika-button {
    color: #fff;
    background: #33aaff;
    box-shadow: inset 0 1px 3px #178fe5;
}

.dark-theme .is-disabled .pika-button {
    color: #999;
    opacity: .3;
}

.dark-theme .pika-button:hover {
    color: #fff !important;
    background: #ff8000 !important;
}

/* Comic Grid */

.comic-grid {
    padding: 0 10px 0 10px;

    p {
        @include truncateText;
    }
}

.columns.tight {
    padding-left: .4rem;
    padding-right: .4rem;
}

div.stretchy-wrapper {
    overflow: hidden;
    width: 100%;

    /* comic cover ratio */
    padding-bottom: 152.49%;
    position: relative;
    background: black;

    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        color: white;
        font-size: 24px;
        text-align: center;
        z-index: 1;
    }
}

.no-touch div.stretchy-wrapper {
    &:hover .cover-overlay {
        visibility: visible;
        opacity: 1;
    }
}

.cover-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    transition: all 0.25s ease-in-out;
    visibility: hidden;
    opacity: 0;

    .buttons {
        width: 70px;
        height: auto;
        margin-top: 5px;

        @include centerer;
    }

    button {
        width: 70px;
        height: 70px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        padding: 0;
        margin-bottom: 10px;

        .fa-plus {
            padding: 4px 0 0 0;
        }

        .fa-trash {
            padding: 1px 0 0 0;
        }

        .fa-info {
            padding: 2px 0 0 1px;
        }
    }

    .remove-button {
        background-color: red;
    }

    .add-button {
        background-color: green;
    }

    .info-button {}
}

.pull-list-badge {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 40px solid green;
    border-right: 40px solid transparent;
    z-index: 3;

    .fa-check {
        position: absolute;
        top: -36px;
        left: 4px;
    }
}

.warning-badge {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 40px solid red;
    border-right: 40px solid transparent;
    z-index: 3;

    .fa-ban {
        position: absolute;
        top: -36px;
        left: 4px;
    }
}

.comic-title {
    text-align: center;
    padding-top: 5px;
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Media Queries */

@media #{$small-only} {
    .comic-grid {
        padding: 0 5px 0 5px;
    }

    .top-bar .name h1 a,
    .top-bar .name h2 a,
    .top-bar .name h3 a,
    .top-bar .name h4 a,
    .top-bar .name p a,
    .top-bar .name span a {
        padding: 0 0.5rem;
    }

    .comic-title {
        font-size: .9em;
    }
}

@media #{$medium-up} {
    .comic-grid {
        padding: 0 10px 0 10px;
    }
}
