@import "settings";
@import "foundation";

$font-color: #E3DFBA;

@mixin truncateText($overflow: ellipsis) {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: $overflow;

    // values are: clip, ellipsis, or a string
}

.row {
    max-width: 1280px;
}

.comic-grid {
    padding: 0 10px 0 10px;

    p {
        @include truncateText;
    }
}

.cover-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    transition: all 0.25s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.pull-list-badge {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 45px solid green;
    border-right: 45px solid transparent;
    z-index: 2;

    .fa-check {
        position: absolute;
        top: -39px;
        left: 5px;
    }
}

.logo {
    fill: $font-color;
    margin-top: 0.5rem;
    width: 210px;
}

.top-bar .toggle-topbar.menu-icon a {
    padding: 0 0.9375rem 0 0.9375rem;
}

.columns.tight {
    padding-left: .4rem;
    padding-right: .4rem;
}

.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

div.stretchy-wrapper {
    overflow: hidden;
    width: 100%;

    /* comic cover ratio */
    padding-bottom: 152.49%;
    position: relative;
    background: black;

    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        color: white;
        font-size: 24px;
        text-align: center;
        z-index: 1;
    }

    &:hover .cover-overlay {
        visibility: visible;
        opacity: 1;
    }
}

@media #{$small-only} {
    .comic-grid {
        padding: 0 5px 0 5px;
    }

    .top-bar .name h1 a,
    .top-bar .name h2 a,
    .top-bar .name h3 a,
    .top-bar .name h4 a,
    .top-bar .name p a,
    .top-bar .name span a {
        padding: 0 0.5rem;
    }
}

@media #{$medium-up} {
    .comic-grid {
        padding: 0 10px 0 10px;
    }
}
