<div ng-hide="currentUser" class="home-login">
    <div class="row about-longbox">
        <div class="small-12 medium-12 large-10 large-centered columns">
            <div class="row">
                <div class="small-12 medium-6 large-7 columns description">
                    <h2>Welcome to Longbox</h2>
                    <h4>Keeping track of comics is hard. We make things easier.</h4>
                    <p>Finding new releases at your local local comic shop has always been a mess. With hundreds of new issues coming out every week, it's easy for the series you care about to slip through the cracks. At Longbox, we help you do away with all that clutter by bringing you the latest release schedules from trusted sources like Marvel and Comic Vine. Maintaining a subscription list with us provides a way to cut through the noise, allowing you to focus on the series that you care about. Sign up for Longbox today and never miss another issue.</p>
                    <p>Longbox was developed by <a href="http://tandyq.me">Tyler Anderson</a> as part of his thesis for <a href="http://www.elon.edu/e-web/academics/communications/interactive_media/">Elon University's Interactive Media</a> graduate program. Registration on this box is currently closed, but you can build your own Longbox by following the project's installation instructions on <a href="https://github.com/TandyQ/longbox-web" target="_blank">GitHub</a>.</p>
                </div>
                <div class="small-12 medium-6 large-5 columns login">
                    <tabset>
                        <tab heading="Register" class="first-tab">
                            <form name="registerForm" ng-submit="register()" novalidate>
                                <fieldset>
                                    <input ng-class="{'sign-up-error': registerForm.firstname.$invalid && registerForm.firstname.$touched}" class="top-input" type="text" name="firstname" placeholder="First Name" ng-model="registrationUser.firstname" ng-required="true">
                                    <input ng-class="{'sign-up-error': registerForm.lastname.$invalid && registerForm.lastname.$touched}" type="text" name="lastname" placeholder="Last Name" ng-model="registrationUser.lastname" ng-required="true">
                                    <input ng-class="{'sign-up-error': registerForm.email.$invalid && registerForm.email.$touched}" type="email" name="email" placeholder="Email" ng-model="registrationUser.email" ng-required="true">
                                    <input ng-class="{'sign-up-error': registerForm.password.$invalid && registerForm.password.$touched}" class="bottom-input" type="password" name="password" placeholder="Password" ng-model="registrationUser.password" ng-required="true">
                                </fieldset>
                                <p class="error-message" ng-show="message">{{ message }}</p>
                                <button type="submit" class="btn" ng-disabled="registerForm.$invalid">Register</button>
                            </form>
                        </tab>
                        <tab heading="Log In" class="last-tab">
                            <form name="loginForm" ng-submit="login()" novalidate>
                                <fieldset>
                                    <input class="top-input" type="email" name="email" placeholder="Email" ng-model="loginUser.email" ng-required="true">
                                    <input class="bottom-input" type="password" name="password" placeholder="Password" ng-model="loginUser.password" ng-required="true">
                                </fieldset>
                                <p class="error-message" ng-show="message">{{ message }}</p>
                                <button type="submit" class="btn" ng-disabled="loginForm.$invalid">Login</button>
                            </form>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row my-longbox-title">
    <div class="small-12 medium-6 large-6 columns tight page-title show-for-medium-up">
        <h2 ng-show="currentUser">My Longbox</h2>
        <h2 ng-hide="currentUser">New Releases</h2>
    </div>
    <div class="small-12 medium-6 large-6 columns tight date-title">
        <div class="inline-button">
            <button class="date-nav-button back-button" ng-click="moveBackOneWeek()"><i class="fa fa-chevron-left"></i></button>
        </div>
        <h2 id="datepicker-text" class="date-title-text">{{dateDisplayString}}</h2>
        <div class="inline-button">
            <button class="date-nav-button forward-button" ng-click="moveForwardOneWeek()"><i class="fa fa-chevron-right"></i></button>
        </div>
    </div>
    <input class="date-picker" ng-model="weekToShow" id="datepicker-input" type="text" picka-day />
</div>
<div ng-show="currentUser" class="my-longbox-content">
    <tabset>
        <tab heading="My Releases" class="first-tab">
            <div ng-hide="isLoading || !hasPullList" class="row comic-grid" data-equalizer>
                <div ng-class="{'small-6': viewMode === 'standard', 'small-4': viewMode === 'compact'}" class="tiny-6 medium-3 large-2 columns tight end" ng-repeat="comic in comicData | filter:isInPullList | orderBy:'series.name'" data-equalizer-watch>
                    <!-- Fix for different cover sizes -->
                    <div ng-class="{'new-series': comic.issueNumber <= 1}" class="stretchy-wrapper" ng-style="{'background-image': 'url(' + comic.thumbnail.path + '.' + comic.thumbnail.extension + ')', 'background-size':'cover'}" hm-tap="toggleOverlay" ng-controller="CoverController">
                        <div class="cover-overlay" ng-style="tapOverlayCSS">
                            <div class="buttons">
                                <button class="remove-button" ng-click="removeFromPullList(comic.series)"><i class="fa fa-minus fa-2x"></i></button>
                                <button class="info-button" ng-click="openModalForComic(comic)"><i class="fa fa-info fa-2x"></i></button>
                            </div>
                        </div>
                    </div>
                    <p class="comic-title">{{comic.series.name | limitFromToChar:0:" ("}} #{{comic.issueNumber}}</p>
                </div>
            </div>
            <div ng-hide="hasComics" class="no-results">
                {{pullListResultsMessage}}
            </div>
            <div ng-hide="isLoading" class="row attribution">
                <div ng-show="hasComics" class="large-12 columns">
                    <p>
                        <div ng-bind-html="sourceText()"></div>
                    </p>
                </div>
            </div>
        </tab>
        <tab heading="All New Releases" class="middle-tab">
            <div ng-hide="isLoading" class="row comic-grid" data-equalizer>
                <div ng-class="{'small-6': viewMode === 'standard', 'small-4': viewMode === 'compact'}" class="tiny-6 medium-3 large-2 columns tight end" ng-repeat="comic in comicData | orderBy:'series.name'" data-equalizer-watch>
                    <!-- Fix for different cover sizes -->
                    <div ng-class="{'new-series': comic.issueNumber <= 1, 'pulled-series': isInPullList(comic)}" class="stretchy-wrapper" ng-style="{'background-image': 'url(' + comic.thumbnail.path + '.' + comic.thumbnail.extension + ')', 'background-size':'cover'}" hm-tap="toggleOverlay" ng-controller="CoverController">
                        <div class="cover-overlay" ng-style="tapOverlayCSS">
                            <div class="buttons">
                                <div class="management-buttons">
                                    <button class="add-button" ng-click="addComic(comic.series)" ng-hide="isInPullList(comic)"><i class="fa fa-plus fa-2x"></i></button>
                                    <button class="remove-button" ng-click="removeFromPullList(comic.series)" ng-show="isInPullList(comic)"><i class="fa fa-minus fa-2x"></i></button>
                                </div>
                                <button class="info-button" ng-click="openModalForComic(comic)"><i class="fa fa-info fa-2x"></i></button>
                            </div>
                        </div>
                        <div class="pull-list-badge" ng-show="isInPullList(comic)">
                            <i class="fa fa-check fa-inverse"></i>
                        </div>
                    </div>
                    <p class="comic-title">{{comic.series.name | limitFromToChar:0:" ("}} #{{comic.issueNumber}}</p>
                </div>
            </div>
            <div ng-hide="hasComics" class="no-results">
                {{resultsMessage}}
            </div>
            <div ng-hide="isLoading" class="row attribution">
                <div ng-show="hasComics" class="large-12 columns">
                    <p>
                        <div ng-bind-html="sourceText()"></div>
                    </p>
                </div>
            </div>
        </tab>
        <tab heading="First Issues" class="last-tab">
            <div ng-hide="isLoading" class="row comic-grid" data-equalizer>
                <div ng-class="{'small-6': viewMode === 'standard', 'small-4': viewMode === 'compact'}" class="tiny-6 medium-3 large-2 columns tight end" ng-repeat="comic in comicData | filter:isFirstIssue | orderBy:'series.name'" data-equalizer-watch>
                    <!-- Fix for different cover sizes -->
                    <div ng-class="{'pulled-series': isInPullList(comic)}" class="stretchy-wrapper" ng-style="{'background-image': 'url(' + comic.thumbnail.path + '.' + comic.thumbnail.extension + ')', 'background-size':'cover'}" hm-tap="toggleOverlay" ng-controller="CoverController">
                        <div class="cover-overlay" ng-style="tapOverlayCSS">
                            <div class="buttons">
                                <div class="management-buttons">
                                    <button class="add-button" ng-click="addComic(comic.series)" ng-hide="isInPullList(comic)"><i class="fa fa-plus fa-2x"></i></button>
                                    <button class="remove-button" ng-click="removeFromPullList(comic.series)" ng-show="isInPullList(comic)"><i class="fa fa-minus fa-2x"></i></button>
                                </div>
                                <button class="info-button" ng-click="openModalForComic(comic)"><i class="fa fa-info fa-2x"></i></button>
                            </div>
                        </div>
                        <div class="pull-list-badge" ng-show="isInPullList(comic)">
                            <i class="fa fa-check fa-inverse"></i>
                        </div>
                    </div>
                    <p class="comic-title">{{comic.series.name | limitFromToChar:0:" ("}} #{{comic.issueNumber}}</p>
                </div>
            </div>
            <div ng-hide="hasComics" class="no-results">
                {{resultsMessage}}
            </div>
            <div ng-hide="isLoading" class="row attribution">
                <div ng-show="hasComics" class="large-12 columns">
                    <p>
                        <div ng-bind-html="sourceText()"></div>
                    </p>
                </div>
            </div>
        </tab>
        <div ng-show="isLoading" class="spinner-container">
            <i class="fa fa-refresh fa-spin fa-fw fa-5x margin-bottom loading-spinner"></i>
        </div>
    </tabset>
</div>
<div ng-hide="currentUser" class="my-longbox-content">
    <tabset>
        <tab heading="All New Releases" class="first-tab">
            <div ng-hide="isLoading" class="row comic-grid" data-equalizer>
                <div ng-class="{'small-6': viewMode === 'standard', 'small-4': viewMode === 'compact'}" class="tiny-6 medium-3 large-2 columns tight end" ng-repeat="comic in comicData | orderBy:'series.name'" data-equalizer-watch>
                    <!-- Fix for different cover sizes -->
                    <div ng-class="{'new-series': comic.issueNumber <= 1}" class="stretchy-wrapper" ng-style="{'background-image': 'url(' + comic.thumbnail.path + '.' + comic.thumbnail.extension + ')', 'background-size':'cover'}" hm-tap="toggleOverlay" ng-controller="CoverController">
                        <div class="cover-overlay" ng-style="tapOverlayCSS">
                            <div class="buttons">
                                <button class="info-button" ng-click="openModalForComic(comic)"><i class="fa fa-info fa-2x"></i></button>
                            </div>
                        </div>
                        <div class="pull-list-badge" ng-show="isInPullList(comic)">
                            <i class="fa fa-check fa-inverse"></i>
                        </div>
                    </div>
                    <p class="comic-title">{{comic.series.name | limitFromToChar:0:" ("}} #{{comic.issueNumber}}</p>
                </div>
            </div>
            <div ng-hide="isLoading" class="row attribution">
                <div ng-show="hasComics" class="large-12 columns">
                    <p>
                        <div ng-bind-html="sourceText()"></div>
                    </p>
                </div>
            </div>
            <div ng-show="isLoading" class="spinner-container-logged-out">
                <i class="fa fa-refresh fa-spin fa-fw fa-5x margin-bottom loading-spinner"></i>
            </div>
            <div ng-hide="hasComics" class="no-results">
                {{resultsMessage}}
            </div>
        </tab>
        <tab heading="First Issues" class="last-tab">
            <div ng-hide="isLoading" class="row comic-grid" data-equalizer>
                <div ng-class="{'small-6': viewMode === 'standard', 'small-4': viewMode === 'compact'}" class="tiny-6 medium-3 large-2 columns tight end" ng-repeat="comic in comicData | filter:isFirstIssue | orderBy:'series.name'" data-equalizer-watch>
                    <!-- Fix for different cover sizes -->
                    <div class="stretchy-wrapper" ng-style="{'background-image': 'url(' + comic.thumbnail.path + '.' + comic.thumbnail.extension + ')', 'background-size':'cover'}" hm-tap="toggleOverlay" ng-controller="CoverController">
                        <div class="cover-overlay" ng-style="tapOverlayCSS">
                            <div class="buttons">
                                <button class="info-button" ng-click="openModalForComic(comic)"><i class="fa fa-info fa-2x"></i></button>
                            </div>
                        </div>
                    </div>
                    <p class="comic-title">{{comic.series.name | limitFromToChar:0:" ("}} #{{comic.issueNumber}}</p>
                </div>
            </div>
            <div ng-show="isLoading" class="spinner-container-logged-out">
                <i class="fa fa-refresh fa-spin fa-fw fa-5x margin-bottom loading-spinner"></i>
            </div>
            <div ng-hide="hasComics" class="no-results">
                {{resultsMessage}}
            </div>
            <div ng-hide="isLoading" class="row attribution">
                <div ng-show="hasComics" class="large-12 columns">
                    <p>
                        <div ng-bind-html="sourceText()"></div>
                    </p>
                </div>
            </div>
        </tab>
</div>
