<div class="card meetings cf">
    <div class="textintro">
        <h1>All New Comics</h1>
    </div>
    <h2>{{ message }}</h2>
</div>
<div class="row comic-grid" data-equalizer>
    <div class="tiny-6 small-4 medium-3 large-2 columns tight end" ng-repeat="comic in comicData" data-equalizer-watch>
        <!-- Fix for different cover sizes -->
        <div class="stretchy-wrapper">
            <div class="cover-overlay" id="cover-index-{{$index}}">
                <button ng-click="addComic(comic.series)" ng-hide="isInPullList(comic.series)"><span>+</span></button>
                <button ng-click="removeFromPullList(comic.series)" ng-show="isInPullList(comic.series)"><span>-</span></button>
            </div>
            <img class="comic-cover" ng-src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" alt="Cover of {{comic.title}}">
            <div class="pull-list-badge" ng-show="isInPullList(comic.series)">
                <i class="fa fa-check fa-inverse"></i>
            </div>
        </div>
        <p>{{comic.series.name | limitFromToChar:0:" ("}} #{{comic.issueNumber}}</p>
    </div>
</div>
