<div class="card meetings cf">
    <div class="textintro">
        <h1>All New Comics</h1>
    </div>
    <h2>{{ message }}</h2>
</div>
<div class="row small-up-3 medium-up-4 large-up-5 comic-grid">
    <div class="column tight" ng-repeat="comic in comicData">
        <img class="comic-cover" ng-click="addComic(comic.series)" ng-src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" alt="Cover of {{comic.title}}">
        <p>{{comic.series.name | limitFromToChar:0:" ("}} #{{comic.issueNumber}}</p>
        <button ng-click="addComic(comic.series)" ng-hide="isInPullList(comic.series)"><span>Add this series</span></button>
        <button ng-click="removeFromPullList(comic.series)" ng-show="isInPullList(comic.series)"><span>Remove this series</span></button>
    </div>
</div>
