<div class="small-12.columns" ng-controller="RegistrationController">
    <div ng-show="currentUser" class="fixed-bottom-logged-in">
        <top-bar class="top-bar bottom-bar">
            <top-bar-section class="bottom-bar-section">
                <ul class="left">
                    <li><a ng-href="#/all-new-issues"><i class="fa fa-calendar fa-2x"></i></a></li>
                    <li><a ng-href="#/pull-list"><i class="fa fa-list fa-2x"></i></a></li>
                    <li><a ng-href="#/search"><i class="fa fa-search fa-2x"></i></a></li>
                    <li><a ng-href="#/profile"><i class="fa fa-user fa-2x"></i></a></li>
                </ul>
            </top-bar-section>
        </top-bar>
    </div>
    <div ng-hide="currentUser" class="fixed-bottom-logged-out">
        <top-bar class="top-bar bottom-bar">
            <top-bar-section class="bottom-bar-section">
                <ul class="left">
                    <li><a ng-href="#/all-new-issues"><i class="fa fa-calendar fa-2x"></i></a></li>
                    <li><a ng-href="#/search"><i class="fa fa-search fa-2x"></i></a></li>
                </ul>
            </top-bar-section>
        </top-bar>
    </div>
</div>
