<div class="small-12.columns" ng-controller="RegistrationController">
    <div class="fixed-bottom">
        <top-bar class="top-bar bottom-bar">
            <top-bar-section class="bottom-bar-section">
                <ul class="left">
                    <li><a ng-href="#/all-new-issues"><i class="fa fa-book fa-2x"></i></a></li>
                    <li><a ng-show="currentUser" ng-href="#/pull-list"><i class="fa fa-list fa-2x"></i></a></li>
                    <li><a ng-show="currentUser" ng-href="#/this-week"><i class="fa fa-calendar fa-2x"></i></a></li>
                    <li ng-hide="currentUser">&nbsp;</li>
                    <li ng-hide="currentUser">&nbsp;</li>
                    <li><a ng-hide="currentUser" ng-href="#/login"><i class="fa fa-sign-in fa-2x"></i></a></li>
                    <li><a ng-show="currentUser" ng-href="#/login" ng-click="logout()"><i class="fa fa-sign-out fa-2x"></i></a></li>
                </ul>
            </top-bar-section>
    </div>
    </top-bar>
</div>
</div>
