<div class="comic-detail">
    <div class="title">
        <h2>{{comic.series.name | limitFromToChar:0:" ("}} #{{comic.issueNumber}}</h2>
        <p>{{comic.pageCount}} pages | ${{comic.prices[0].price}} | <a ng-href="{{comic.urls[0].url}}" target="_blank">View on Marvel.com</a>
    </div>
    <div class="description">
        <p>{{comic.description}}</p>
    </div>
    <div class="creative">
        <p>
            <ng-pluralize count="creators.writers.length" when="{'0': '', '1': 'Writer: ', 'other': 'Writers: '}"></ng-pluralize>
            {{ creators.writers | joinBy:", " }}</p>
        <p>
            <ng-pluralize count="creators.pencillers.length" when="{'0': '', '1': 'Artist: ', 'other': 'Artists: '}"></ng-pluralize>
            {{ creators.pencillers | joinBy:", " }}</p>
    </div>
    <button class="add-button" ng-click="addComic()" ng-hide="isInPullList()">Add to Subscriptions</button>
    <button class="remove-button" ng-click="removeFromPullList()" ng-show="isInPullList()">Remove from Subscriptions</button>
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</div>
