<h2><a ng-href="{{comic.urls[0].url}}" target="_blank">{{comic.series.name | limitFromToChar:0:" ("}}</a></h2>
<h3>Issue #{{comic.issueNumber}}</h3>
<h4><ng-pluralize count="creators.writers.length" when="{'0': '', '1': 'Writer: ', 'other': 'Writers: '}"></ng-pluralize>
{{ creators.writers | joinBy:", " }}</h4>
<h4><ng-pluralize count="creators.pencillers.length" when="{'0': '', '1': 'Artist: ', 'other': 'Artists: '}"></ng-pluralize>
{{ creators.pencillers | joinBy:", " }}</h4>
<p>{{comic.description}}</p>
<button class="add-button" ng-click="addComic(comic.series)" ng-hide="isInPullList(comic.series)">Add to Subscriptions</button>
<button class="remove-button" ng-click="removeFromPullList(comic.series)" ng-show="isInPullList(comic.series)">Remove from Subscriptions</button>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
