<div class="card meetings cf">
    <div class="textintro">
        <h1>PULL LIST</h1>
    </div>
</div>
<div class="row small-up-2 medium-up-3 large-up-4">
    <div class="column" ng-repeat="series in seriesData | orderBy:'title'">
        <img ng-src="{{series.latestComicCoverPath}}.{{series.latestComicCoverExtension}}" alt="Cover of {{series.title}}">
        <p>{{series.title | limitFromToChar:0:" ("}}</p>
        <button ng-click="removeFromPullList(series)"><span>Remove this series</span></button>
    </div>
</div>
<!-- meetings cf -->
