<div class="card meetings cf">
    <div class="textintro">
        <h1>PULL LIST</h1>
    </div>
</div>
<div class="row comic-grid">
    <div class="tiny-6 small-6 medium-3 large-2 columns tight end" ng-repeat="series in seriesData | orderBy:[isEnded, 'title']">
        <!-- Fix for different cover sizes -->
        <div class="stretchy-wrapper" ng-style="{'background-image': 'url(' + series.latestComicCoverPath + '.' + series.latestComicCoverExtension + ')', 'background-size':'cover'}" hm-tap="toggleOverlay" ng-controller="CoverController">
            <div class="cover-overlay" ng-style="tapOverlayCSS">
                <div class="buttons">
                    <button class="remove-button" ng-click="removeFromPullList(series)"><i class="fa fa-minus fa-2x"></i></button>
                    <button class="info-button" ng-click="openModalForSeries(series)"><i class="fa fa-info fa-2x"></i></button>
                </div>
            </div>
            <div class="warning-badge" ng-show="isEnded(series)">
                <i class="fa fa-ban fa-inverse"></i>
            </div>
        </div>
        <p class="comic-title">{{series.title | limitFromToChar:0:" ("}}</p>
    </div>
</div>
