<div class="card meetings cf">
    <div class="textintro">
        <h1>PULL LIST</h1>
    </div>
    <h1>{{ message }}</h1>
</div>
<div class="row small-up-2 medium-up-3 large-up-4">
    <div class="column" ng-repeat="series in seriesData | filter:isInPullList">
        <img ng-src="{{series.thumbnail.path}}.{{series.thumbnail.extension}}" alt="Cover of {{series.title}}">
        <p>{{series.title | limitFromToChar:0:" ("}}</p>
        <button ng-click="removeFromPullList(series)"><span>Remove this series</span></button>
    </div>
</div>
<!-- meetings cf -->
