<div class="series-detail">
    <div class="title">
        <h2>{{series.title | limitFromToChar:0:" ("}}</h2>
        <p ng-show="sourceIsMarvel">Status: <span ng-class="{'ongoing-status': series.endYear === 2099, 'ended-status': series.endYear !== 2099}"><ng-pluralize count="series.endYear" when="{'2099': 'Ongoing', 'other': 'Ended ({{series.endYear}})'}"></ng-pluralize></span> | <a ng-href="{{series.urls[0].url}}" target="_blank">View on Marvel.com <i class="fa fa-arrow-circle-o-right"></i></a></p>
        <p ng-hide="sourceIsMarvel">{{series.publisher.name}} | {{series.start_year}} | <a ng-href="{{series.site_detail_url}}" target="_blank">View on Comic Vine <i class="fa fa-arrow-circle-o-right"></i></a></p>
    </div>
    <div class="description">
        <p ng-show="sourceIsMarvel">{{description}}</p>
        <p ng-hide="sourceIsMarvel" ng-bind-html="description"></p>
    </div>
    <div class="creative">
        <p>
            <ng-pluralize count="creators.writers.length" when="{'0': '', '1': 'Writer: ', 'other': 'Writers: '}"></ng-pluralize>
            {{ creators.writers | orderBy:'toString()' | joinBy:", "}}</p>
        <p>
            <ng-pluralize count="creators.pencillers.length" when="{'0': '', '1': 'Artist: ', 'other': 'Artists: '}"></ng-pluralize>
            {{ creators.pencillers | orderBy:'toString()' | joinBy:", "}}</p>
    </div>
    <button class="add-button" ng-click="addComic()" ng-hide="isInPullList()">Add to Subscriptions</button>
    <button class="remove-button" ng-click="removeFromPullList()" ng-show="isInPullList()">Remove from Subscriptions</button>
    <a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
</div>
